@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/o-0bipqoyxqa2rxt7-5b6ryxs2e_6n1iphjc5a7dvg.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/o-0bipqoyxqa2rxt7-5b6ryxs2e_6n1ippjd5a7dvg.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/o-0bipqoyxqa2rxt7-5b6ryxs2e_6n1ipcbd5a7dvg.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/o-0bipqoyxqa2rxt7-5b6ryxs2e_6n1iphjd5a7dvg.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/o-0bipqoyxqa2rxt7-5b6ryxs2e_6n1iperd5a7dvg.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/o-0bipqoyxqa2rxt7-5b6ryxs2e_6n1ipkba5a7dvg.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/o-0bipqoyxqa2rxt7-5b6ryxs2e_6n1ipj_a5a7dvg.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/o-0bipqoyxqa2rxt7-5b6ryxs2e_6n1ippja5a7dvg.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/o-0bipqoyxqa2rxt7-5b6ryxs2e_6n1ipnha5a7dvg.ttf) format('truetype');
}
